<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Text Utils Website</title>
  </head>
<body>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">Mod App Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!--text area start here-->
<div class="container">
  <form action="/rmpun" method="post"> {% csrf_token %}
  <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Enter your text here</label>
  <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>
<!--End text area-->
<!--  start witch code-->
  <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" name="removepunc" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Remove Punctuations</label>
  </div>
  <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" name="fullcaps" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">UPPER CASE</label>
  </div>
  <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" name="newlineremover" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Remover New Line</label>
  </div>
  <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" name="spaceextraremover" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Remover Extra Space</label>
  </div>
  <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" name="charcount" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Charactor Counter</label>
  </div>
  <button type="submit" class="btn btn-primary mt-2">Analyze Text</button>
  <button type="reset" class="btn btn-warning mt-2">Reset</button>
  </form>
</div>






<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
</body>
</html>