
<!-- this is making for learning purpose -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index fsjfhskjaskghsaklg</title>
</head>
<body>

<h1>hello i am best angle</h1>

{{ name }} is from place {{ place }}

<h1> Welcome to the Text analyazer </h1>
<h2> Enter Text Below &#8595; </h2>
<form action="/rmpun" method="get">
    <textarea name="text" style='margin: 0px; width: 1512px; height: 126px;'></textarea>
    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
    <input type="checkbox" name="fullcaps"> UPPER CASE <br>
    <input type="checkbox" name="newlineremover"> Remover New Line <br>
    <input type="checkbox" name="spaceextraremover"> Remover Extra Space <br>
    <input type="checkbox" name="charcount"> Charactor Counter <br>
    <button type="submit">Analyzed Text</button>
    <button type="reset">Clear Text</button>
</form>

</body>
</html>